@using ClassicLibraryMVC.Models
@model List<Author>
@{
    ViewData["Title"] = "Author Overview";
}

<h1>Author Overview</h1>

<ul>
    @foreach(var author in Model)
    {
        <li>
            <a href="@Url.Action("Details", "Author", new { id = author.Id })">@author.Surnames @author.Names</a>
            <a asp-action="Edit" asp-route-id="@author.Id">Edit</a>
            <a asp-action="Delete" asp-route-id="@author.Id">Delete</a>
        </li>
}   
</ul>
